@import url('https://fonts.cdnfonts.com/css/budmo-jiggler-jigglish');
@import url('http://fonts.cdnfonts.com/css/mechanical');

body, #root {
  margin: 0;
  font-family: 'Mechanical', sans-serif;
  font-size: small;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tooltip .tooltip-inner {
  width: 400px;
  white-space: normal;
}
